/*#region CSS reset e normalize*/
:root {
  --rosa: hsl(322, 100%, 66%);
  --ciano: hsl(193, 100%, 96%);
  --ciano_scuro: hsl(192, 100%, 9%);
  --grigio: hsl(208, 11%, 55%);
}
html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  font-variation-settings: "wdth" 100;
  min-height: 100vh;
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
  text-align: center;
}

/*#endregion CSS reset e normalize*/
/*#region HEADER and HERO SECTION*/
header {
  background-color: var(--ciano);
  padding: 2rem 1.5rem 3rem 1.5rem;
  background-image: url(./images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  container-type: inline-size;
}

.intestazione,
.hero {
  display: flex;
  justify-content: space-between;
}
.hero {
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  padding-inline: 2.5rem;
  margin-top: 8rem; /*da ELIMINARE PER DESKTOP*/
}

.logo_image {
  max-width: 90px;
  object-fit: contain;
}
.logo__button {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  background-color: white;
  border: none;
  padding-inline: 2rem;
  padding-block: 0.4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 11px -1px rgba(77, 74, 74, 0.25);
  -webkit-box-shadow: 1px 1px 11px -1px rgba(77, 74, 74, 0.25);
  -moz-box-shadow: 1px 1px 11px -1px rgba(77, 74, 74, 0.25);
}

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  line-height: 1.4;
}
button:hover,
button:active {
  opacity: 0.75;
  cursor: pointer;
}
.hero__button {
  background-color: var(--rosa);
  color: var(--ciano);
  padding: 1rem 4rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: white;
  border-radius: 20px;
  border: none;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  box-shadow: 1px 1px 11px -1px rgba(222, 172, 222, 0.86);
  -webkit-box-shadow: 1px 1px 11px -1px rgba(222, 172, 222, 0.86);
  -moz-box-shadow: 1px 1px 11px -1px rgba(222, 172, 222, 0.86);
}

.hero img {
  width: 100%;
  max-width: 47rem;
  height: auto;
}

/*#endregion HEADER and HERO SECTION*/
/*#region CARDS*/
.card {
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 6px 2px rgba(156, 148, 148, 0.19);
  -webkit-box-shadow: 1px 1px 6px 2px rgba(156, 148, 148, 0.19);
  -moz-box-shadow: 1px 1px 6px 2px rgba(156, 148, 148, 0.19);
  border-radius: 15px;
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 420px;
}

.card__content {
  margin-top: 5rem;
  flex-basis: 50%;
}

.card h2 {
  font-size: 2.4rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2rem;
}
.card p {
  font-size: 1.6rem;
  color: var(--grigio);
}
.card img {
  width: 100%;
}
main {
  padding: 5rem 1.5rem 5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > * {
  margin-bottom: 3.5rem;
}

h3 {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2rem;
}

.call_to_action_button {
  margin: 0;
}

.hero_call_to_action {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.call_to_action {
  position: relative;
  padding: 4rem 1rem;
  margin: 0;
  margin-bottom: -150px; /* Spinge la card in basso */
  z-index: 50;
  background: white;
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*#endregion CARDS*/
/*#region FOOTER*/
footer {
  background-color: var(--ciano_scuro);
  padding-top: 15rem;
  font-size: 1.6rem;
}
.card:nth-of-type(3) {
  margin-bottom: 10rem;
}
.logo_bianco {
  width: 18rem;
  margin-bottom: 2rem;
}
ul {
  list-style: none;
  font-size: 1.8rem;
}
ul li {
  margin-bottom: 1.5rem;
}
footer .location img,
footer .phone img,
footer .mail img {
  width: 24px; /* o una dimensione che funziona per il tuo layout */
  height: 24px;
  object-fit: contain;
  flex-shrink: 0; /* evita che l'immagine venga compressa */
  margin-top: 2px; /* aggiusta verticalmente se serve */
}

.phone,
.mail,
.location {
  display: flex;
  align-items: flex-start;
  gap: 2.5rem;
}
footer {
  padding-inline: 1rem;
}
footer img {
  min-width: 20px;
  object-fit: contain;
}
footer span {
  color: var(--ciano);
  text-align: initial;
}
.footer_elements > * {
  margin-bottom: 7rem;
}
.contatti > * {
  margin-bottom: 2.5rem;
}

.navigation_footer li {
  color: var(--ciano);
  text-align: start;
}
.fa-brands {
  color: var(--ciano);
}
.cerchio {
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--ciano);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.social {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
i {
  color: white;
}
.copyright span {
  font-size: 1.4rem;
}
/*#endregion FOOTER*/
/*#region MEDIA QUERIES*/

/*#endregion MEDIA QUERIES*/

@media screen and (min-width: 900px) {
  .intestazione {
    padding-inline: 2rem;

    max-height: 5rem;
  }
  .logo_image {
    max-width: 18rem;
  }
  .logo__button {
    font-size: 1.4rem;
    padding-inline: 6.5rem;
    padding-block: 1.5rem;
    border-radius: 25px;
  }
  h1 {
    text-align: start;
    font-size: 3.5rem;
  }
  header {
    padding-inline: 5rem;
  }

  .hero {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 0;
    margin-inline: 2rem;
    background-image: url(./images/bg-hero-desktop.svg);
  }
  .hero_call_to_action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
    gap: 2rem;
    padding-block: 10rem;
    flex: 1;
  }
  .hero_call_to_action_img {
    flex: 1;
    width: 100%;
  }
  .hero p {
    text-align: initial;
  }
  .hero img {
    max-width: none;
    /* padding-block: 5rem; */
  }
  .hero__button {
    padding: 2rem 6rem;
    border-radius: 40px;
    color: var(--ciano);
    font-size: 1.4rem;
  }
  main {
    padding-top: 15rem;
    padding-inline: 0;
  }
  .card {
    flex-direction: row;
    align-items: center;
    gap: 10rem;
    padding: 2rem 2rem 2rem 8rem;
    max-width: 120rem;
    margin-inline: 10rem;
  }
  .card__content {
    order: -1;
    margin: 0;
  }
  .card__content h2 {
    text-align: start;
  }

  .card_content_reverse {
    order: 0;
  }
  .card__content p {
    text-align: start;
  }
  .card__image {
    max-width: 35rem;
  }

  .call_to_action {
    padding: 3rem 5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: -110px;

    max-width: 700px;
  }
  .call_to_action h3 {
    margin: 0;
    font-size: 2rem;
  }

  .contatti > * {
    margin-bottom: 2rem;
  }

  footer {
    padding: 15rem 5rem 5rem 7rem;
    display: flex;
    justify-content: center;
    padding-inline: 0;
  }

  .footer_elements {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    font-size: clamp(14px, 0.67vi + 8px, 20px);
  }

  .social {
    min-width: 200px;
    gap: 1.5rem;
  }
  .navigation_footer ul {
    display: grid;
    grid-template-areas:
      "about_us career"
      "what_we_do blog"
      "faq contact_us";
    gap: 2.5rem;
  }
  i {
    font-size: 22px;
  }
  .navigation_footer {
    min-width: 300px;
    width: 100%;
  }

  .wrapper {
    max-width: 85%;
  }
  .cerchio {
    width: 4rem;
    height: 4rem;
  }
  ul {
    min-width: 250px;
    justify-content: space-evenly;
  }
  ul li {
    min-width: fit-content;
  }

  ul li:hover,
  ul li:active {
    text-decoration: underline;
    cursor: pointer;
  }

  ul li:nth-child(1) {
    grid-area: about_us;
  }
  ul li:nth-child(2) {
    grid-area: what_we_do;
  }
  ul li:nth-child(3) {
    grid-area: faq;
  }
  ul li:nth-child(4) {
    grid-area: career;
  }
  ul li:nth-child(5) {
    grid-area: blog;
  }
  ul li:nth-child(5) {
    grid-area: contact_us;
  }
  .copyright {
    text-align: right;
  }

  .cerchio:hover,
  .cerchio:active {
    cursor: pointer;
    border: 2px solid var(--rosa);
  }
  .cerchio:hover i {
    color: var(--rosa);
  }
}
